In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [2]:
tr_df = pd.read_csv("new_training_titanic.csv")
tr_df.head(20)

     Age      Fare    PClass    Gender    Embark  Family  Survived
0   29.0   26.0000  0.486486  0.746888  0.357438       1       1.0
1   27.2    8.0500  0.256267  0.208431  0.357438       0       0.0
2   39.0   26.0000  0.486486  0.208431  0.357438       0       0.0
3   29.0   21.0750  0.256267  0.746888  0.357438       4       0.0
4   25.0    7.0500  0.256267  0.208431  0.357438       0       0.0
5   34.5    6.4375  0.256267  0.208431  0.563910       0       0.0
6   35.0   53.1000  0.652174  0.746888  0.357438       1       1.0
7   23.0    7.8958  0.256267  0.208431  0.357438       0       0.0
8   25.5   13.0000  0.486486  0.208431  0.357438       0       1.0
9   50.0    8.0500  0.256267  0.208431  0.357438       0       0.0
10  23.0    7.5500  0.256267  0.746888  0.357438       0       1.0
11  27.2    7.2292  0.256267  0.208431  0.563910       0       0.0
12  36.0   13.0000  0.486486  0.208431  0.357438       0       0.0
13  27.2   15.5000  0.256267  0.208431  0.400000       1       0.0
14  21.8    7.7500  0.256267  0.746888  0.400000       0       1.0
15  28.0    7.9250  0.256267  0.208431  0.357438       2       0.0
16  32.0    7.8542  0.256267  0.208431  0.357438       0       1.0
17  42.0    7.5500  0.256267  0.208431  0.357438       0       0.0
18  38.0  153.4625  0.652174  0.208431  0.357438       1       0.0
19  21.8    7.7500  0.256267  0.746888  0.400000       0       1.0

In [3]:
X = tr_df.values[:, 0:tr_df.shape[1]-1]
Y = tr_df.values[:, tr_df.shape[1]-1]

In [4]:
clf = LogisticRegression(C=100, solver='lbfgs', multi_class='ovr', max_iter=100)
clf.fit(X, Y)

LogisticRegression(C=100, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='lbfgs', tol=0.0001,
          verbose=0, warm_start=False)

#### The above parameters can also be tweaked to try out different versions of logistic regression and with different regularizations

In [5]:
clf.score(X, Y)

0.811377245508982

In [6]:
te_df = pd.read_csv("new_test_titanic.csv")

In [7]:
y_pred = clf.predict(te_df.values)
y_pred

array([0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 1., 0., 1., 1., 0., 0., 0.,
       0., 0., 1., 1., 0., 1., 1., 0., 1., 0., 0., 1., 1., 0., 0., 0., 0.,
       0., 1., 1., 0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 1., 0., 0., 0.,
       1., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0., 1.,
       1., 0., 0., 0., 1., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0.,
       1., 1., 1., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 1., 1., 0.,
       1., 0., 1., 1., 0., 0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       1., 1., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0.,
       0., 1., 0., 0., 1., 0., 0., 0., 1., 1., 1., 1., 0., 1., 0., 1., 1.,
       1., 1., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 1.,
       0., 1., 0., 0., 0., 1., 0., 0., 1., 1., 1., 1., 1., 0., 1., 0., 0.,
       0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 1., 1., 0., 0., 0., 0., 1.,
       0., 0.])

#### The above predictions can be saved in .csv format as shown below

In [8]:
#np.savetxt("predicted_titanic_y_pred.csv", y_pred, delimiter=',')

#### For regression problems sometimes accuracy may increase on addition of second degree features, shown below are some:

In [9]:
#df['Age_Age'] = df['Age'] ** 2
#df['PClass_PClass'] = df['PClass'] ** 2
#df['Gender_Gender'] = df['Gender'] ** 2
#df['Embark_Embark'] = df['Embark'] ** 2
#df['Family_Family'] = df['Family'] ** 2

In [10]:
#df['Age_Gender'] = df['Age'] * df['Gender']
#df['PClass_Gender'] = df['Gender'] * df['PClass']
#df['Age_PClass'] = df['Age'] * df['PClass']
#df['PClass_Embark'] = df['PClass'] * df['Embark']
#df['Gender_Family'] = df['Gender'] * df['Family']
#df['PClass_Family'] = df['PClass'] * df['Family']
#df['PClass_Gender_Embark'] = df['Gender'] * df['PClass'] * df['Embark']

#df.describe()

#### Sometimes, scaling helps too

#### SCALING THE DATA

In [11]:
#from sklearn import preprocessing

In [12]:
#scaler = preprocessing.MinMaxScaler(feature_range=(0, 1), copy=False)
#x_scaled = scaler.fit_transform(df.values[:,0:df.shape[1]-1])
#scaled_df = pd.DataFrame(x_scaled, columns=df.columns[0:df.shape[1]-1])
#scaled_df.head(20)

##### or

In [13]:
#x_scaled = preprocessing.scale(df.values[:,0:df.shape[1]-1])
#scaled_df = pd.DataFrame(x_scaled, columns=df.columns[0:df.shape[1]-1])
#scaled_df.head(20)

In [14]:
#df = scaled_df.join(df.iloc[:,df.shape[1]-1])
#df.head(10)